@model AppMVC.Models.SchoolManagement.ClassModel

@using AppMVC.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "Class";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>ClassModel</h4>
    <hr />
    @{
        if (@ViewBag.success != null)
        {
            <div id="AlertBox" class="alert alert-success" role="alert">
                @ViewBag.success
            </div>
        }
    }
    @{
        if (@ViewBag.error != null)
        {
            <div id="AlertBox" class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        }
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label class="control-label">School</label>
                    <select asp-for="SchoolId" class="form-control" asp-items="ViewBag.SchoolId" id="schoolFilter" onchange="reloadSchoolFilter()">
                        <option value="" id="default-school" hidden="true">-- Select School --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId" id="khoaFilter"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <script>
        function reloadSchoolFilter() {
            var schoolId = $("#schoolFilter").val();
            $.ajax({
                type: "GET",
                url: "/admin/school-management/department/GetDepartmentBySchoolId?schoolId=" + schoolId,
                // data: { schoolId: schoolId },
                success: function (data) {
                    console.log(data);
                    $("#khoaFilter").append('<option value="" id="default-department" hidden="true">-- Select Department --</option>');
                    $.each(data, function (i, item) {
                        $("#khoaFilter").append('<option value="' + item.id + '">' + item.name + '</option>');
                    });

                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
</body>
</html>


@{
    _AdminSidebarService.SetActive("Class", "Create", "SchoolManagement");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}