@model IEnumerable<AppMVC.Models.SchoolManagement.ClassModel>

@using AppMVC.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "Class";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Department.School.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Capacity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                
                    @* <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
                </td> *@
                    <td>
                        @* have school id => need school name *@
                        @Html.DisplayFor(modelItem => item.Department.SchoolId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

@{
    _AdminSidebarService.SetActive("Class", "Index", "SchoolManagement");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}